{%  extends 'base.html' %}
{%  block content %}
    <h2> New Post </h2>
	<form method="post">
		<div>
            {{ form.subject.label }}

            {{ form.subject }}

            {% if form.subject.errors %}
                <ul class=errors>
                {% for error in form.subject.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <br/>
{#		<label class="col-xs-12" >#}
{#			<div>Content</div>#}
{#			<textarea name="content" class="content">{{ form.content }}</textarea>#}
{#            <div>#}
{#                {{ form.subject.errors }}#}
{#            </div>#}
{#		</label>#}
        <div>
            {{ form.content.label }}

            {{ form.content(cols="35", rows="20")}}

            {% if form.content.errors %}
                <ul class=errors>
                {% for error in form.subject.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
		<br/>
{#		<div class="error col-xs-6">#}
{#		{{error}}#}
{#		</div>#}
		<br/>
		<input type="submit">
	</form>
{%  endblock %}