<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Basic Blog</title>
	<meta name="description" content="A Portfolio project" />
  	<meta name="author" content="https://github.com/tim-hub">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="/static/css/mui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">#}

    {# this is for flash message    #}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</head>
<body>
    <div class="mui-container" >
        <div class="mui-panel">
                <h1 class="mui-col-xl-12 blog-title"> Base Blog</h1>
                {% include 'header.html' %}
                {% block content %}

                {% endblock content %}
                {%  include 'footer.html' %}
        </div>
    </div>
     <script src="/static/js/mui.js"></script>
</body>
</html>